<div class="justify-content-center w-25 flex-column d-flex">
    <h1 class="display-1 text-center">@ViewBag.Data.ErrorCode</h1>
    <p class="display-4 text-center">@ViewBag.Data.ErrorDescription</p>
</div>