@model SurveyMe.WebApplication.Models.ViewModels.UserDeleteOrEditViewModel

<p class="title">Delete @Model.DisplayName?</p>

<form method="post" asp-controller="Users"
      asp-action="DeleteUserConfirm" asp-route-Id="@Model.Id"
      class="attention-form">
    <input type="submit" class="submit-button" value="Delete" />
    <input type="button" class="discard-button" value="Cancel" />
</form>

<div class="errors" asp-validation-summary="All"></div>