body{
    height: 94.5vh;
    background-color: #ECECEC !important;
}

header{
    height: 55px;
    position: fixed !important;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 5px);
}

#user-table{
    width: 60%;
    min-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    text-align: center;
    height: 550px;
    min-height: 350px;
}

td{
    vertical-align: middle;
}

.table-dark tr th{
    width: 25% !important;
}

.navbar{
    width: 100% !important;

}

.navbar .input-group{
    width: 100% !important;
    margin: 5px;
}

.d-flex{
    width: 97%;
    justify-content: right;
}

.form-control{
    width: 25% !important;
}

.move-btn{
    font-weight: bold;
    font-size: large;
}

.btn-action{
    width: 80px !important;
}

#survey-page{
    margin-top: 50px;
    height: 80%;
    width: 50%;
}

#title-card{
    background-color: white;
    border-radius: 15px;
}

.question-card{
    background-color: white;
    border-radius: 10px;
}

#choose-type{
    text-align: center;
}

#question-body{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

#controll{
    display: flex;
    justify-content: center;
}